@font-face {
    font-family: 'Overdoze_sans'; 
    src: url(../font/overdozesans.ttf);
}
@font-face {
    font-family: 'Bryndan_Write'; 
    src: url(../font/Bryndan\ Write.ttf);
}
@font-face {
    font-family: 'Futura_PT'; 
    src: url(../font/FuturaPT-Heavy.ttf);
}

