body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fbf6ed;
  justify-content: center;
  overflow-x: hidden;
  height: auto;
  align-items: center;
  text-align: center;
  cursor: url(../img/Vector.svg) 42 37, auto;
}

* {
  cursor: url(../img/Vector.svg) 42 37, auto !important;
  box-sizing: border-box;
}
.menuska {
  z-index: -1;
  width: 100%;
  position: absolute;
  opacity: 0;
}
/* меню */
.menu_screen {
  position: relative;
  display: flex;
  display: flex;
  flex-direction: column;
  height: 70vw;
}
.menu_container {
  margin-top: 0.5%;
  line-height: 5%;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: justify;
  text-transform: uppercase;
  font-family: "Futura_PT", sans-serif;
}

.letter {
  line-height: 1;
  font-size: 8vw;
  cursor: pointer;
  transition: color 0.15s ease-in-out, opacity 0.8s ease-in-out;
}

.circle_menu,
.cube_menu,
.star_menu,
.triangle_menu,
.triangle2_menu {
  position: absolute;
  width: 5%;
  z-index: -1;
  animation: rotateAnimation 10s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.star_menu {
  top: 10%;
  left: 4%;
}
.triangle2_menu {
  left: 4%;
  top: 38%;
}
.circle_menu {
  left: 50%;
  top: 31%;
}
.cube_menu {
  left: 43%;
  top: 8%;
}
.triangle_menu {
  left: 72%;
  top: 17.4%;
  width: 4%;
}

.menu-item button {
  width: 97%;
  height: 15%;
  font-size: 1.9vw;
  padding: 5% 5%;
  border-radius: 10px;
  font-family: "Futura_PT", sans-serif;
  background-color: #fbf6ed;
  z-index: 1;
  text-decoration: none;
}

.button_2048 {
  border: 2px solid;
  grid-column: 1;
  border-color: #f28482;
}

.button_canvas {
  border: 2px solid;
  grid-column: 2;
  border-color: #a3a54f;
}

.button_catch_star {
  border: 2px solid;
  grid-column: 3;
  border-color: #f8c4bb;
}

.button_find_a_couple {
  border: 2px solid;
  grid-column: 4;
  border-color: #84a59d;
}

.button_divination {
  border: 2px solid;
  grid-column: 5;
  border-color: #f6be61;
}
.menu-item {
  width: 16%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.45vw;
}
.button_catch_star a {
  color: #f8c4bb;
  text-decoration: none;
}
.button_2048 a {
  color: #f28482;
  text-decoration: none;
}
.button_canvas a {
  color: #a3a54f;
  text-decoration: none;
}
.button_find_a_couple a {
  color: #84a59d;
  text-decoration: none;
}
.button_divination a {
  color: #f6be61;
  text-decoration: none;
}

.first_game_cube {
  background-color: #f28482;
}

.second_game_canvas {
  background-color: #a3a54f;
}

.third_game_cap {
  background-color: #f8c4bb;
}

.fouth_game_card {
  background-color: #84a59d;
}

.fifth_game_card {
  background-color: #f6be61;
}

.menu-item > div {
  width: 100%;
  position: relative;
  height: 80%;
}
.buttons_menu button a {
  text-decoration: none;
  color: inherit;
}
.cube_4 {
  top: 0%;
  left: 2%;
  width: 64%;
}
.cube_16 {
  top: 21%;
  left: 48%;
  width: 64%;
}
.cube_64 {
  margin-top: 82%;
  left: 35%;
  width: 74%;
}
.cube_128 {
  top: 38%;
  width: 66%;
  right: 45%;
}

.first_game_cube:hover .cube_4,
.first_game_cube:hover .cube_16,
.first_game_cube:hover .cube_64,
.first_game_cube:hover .cube_128 {
  animation-play-state: running;
}

.cube_4,
.cube_16,
.cube_64,
.cube_128 {
  position: absolute;
  animation-play-state: paused;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.cube_4 {
  animation-name: sway4;
}
.cube_16 {
  animation-name: sway16;
}
.cube_64 {
  animation-name: sway64;
}
.cube_128 {
  animation-name: sway128;
}

/* Разные вариации покачивания, чтоб нескучно было! */
@keyframes sway4 {
  0% {
    transform: rotate(-5deg) translateX(-3px);
  }
  50% {
    transform: rotate(3deg) translateX(2px);
  }
  100% {
    transform: rotate(-5deg) translateX(-3px);
  }
}

@keyframes sway16 {
  0% {
    transform: rotate(2deg) translateY(-3px);
  }
  50% {
    transform: rotate(-2deg) translateY(3px);
  }
  100% {
    transform: rotate(2deg) translateY(-3px);
  }
}

@keyframes sway64 {
  0% {
    transform: rotate(-4deg) translateX(2px);
  }
  50% {
    transform: rotate(5deg) translateX(-2px);
  }
  100% {
    transform: rotate(-4deg) translateX(2px);
  }
}

@keyframes sway128 {
  0% {
    transform: rotate(-3deg) translateY(2px);
  }
  50% {
    transform: rotate(4deg) translateY(-2px);
  }
  100% {
    transform: rotate(-3deg) translateY(2px);
  }
}

.first_game_cube:hover .cap_menu,
.first_game_cube:hover .star_yellow1,
.first_game_cube:hover .star_yellow2,
.first_game_cube:hover .star_yellow3 {
  animation-play-state: running;
}

/* колпак */
.cap_menu {
  position: absolute;
  width: 65%;
  top: 42%;
  left: 20%;
  animation: swayCap 1.8s ease-in-out infinite alternate;
  animation-play-state: paused;
}

/* Звезды */
.star_yellow1,
.star_yellow2,
.star_yellow3 {
  position: absolute;
  width: 36%;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

/* Разные движения для звезд */
.star_yellow1 {
  animation-name: floatStar1;
}
.star_yellow2 {
  animation-name: floatStar2;
}
.star_yellow3 {
  animation-name: floatStar3;
}

/* Позиции */
.star_yellow1 {
  top: 1%;
  left: 33%;
  z-index: 2;
}

.star_yellow2 {
  top: 20%;
  left: 60%;
  z-index: 2;
}

.star_yellow3 {
  top: 20%;
  left: 0%;
  z-index: 2;
}

/* Анимация для колпака (раскачивание) */
@keyframes swayCap {
  0% {
    transform: rotate(-5deg) translateX(-6px);
  }
  50% {
    transform: rotate(4deg) translateX(5px);
  }
  100% {
    transform: rotate(-3deg) translateX(-4px);
  }
}

/* Разные анимации для звезд (чтобы не выглядели одинаково) */
@keyframes floatStar1 {
  0% {
    transform: translateY(-6px) rotate(-2deg);
  }
  50% {
    transform: translateY(5px) rotate(2deg);
  }
  100% {
    transform: translateY(-6px) rotate(-2deg);
  }
}

@keyframes floatStar2 {
  0% {
    transform: translateY(-3px) rotate(3deg);
  }
  50% {
    transform: translateY(6px) rotate(-3deg);
  }
  100% {
    transform: translateY(-3px) rotate(3deg);
  }
}

@keyframes floatStar3 {
  0% {
    transform: translateY(-4px) rotate(-1deg);
  }
  50% {
    transform: translateY(7px) rotate(1deg);
  }
  100% {
    transform: translateY(-4px) rotate(-1deg);
  }
}

.palette_menu {
  width: 130%;
  position: absolute;
  top: 5%;
  left: -15%;
  animation: sway 2s ease-in-out infinite;
  animation-play-state: paused;
}
@keyframes sway {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

.palette_menu:hover {
  animation-play-state: running;
}

.card_front_menu,
.card_back_menu,
.star_card_menu {
  position: absolute;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.card_front_menu {
  left: 20%;
  top: 20%;
  width: 90%;
  z-index: 2;
  animation-name: shakeCard1;
}

.card_back_menu {
  right: 30%;
  z-index: 2;
  top: 4%;
  width: 80%;
  z-index: 1;
  animation-name: shakeCard2;
}

.star_card_menu {
  left: -26%;
  margin-top: -4%;
  width: 155%;
  animation-name: rotateStar;
  animation-duration: 15s;
}

@keyframes shakeCard1 {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes shakeCard2 {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes rotateStar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hand_menu,
.eye_menu,
.moon_menu {
  position: absolute;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.hand_menu,
.eye_menu,
.moon_menu {
  position: absolute;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.hand_menu {
  left: 2%;
  width: 105%;
  z-index: 1;
  top: 5%;
}

.eye_menu {
  left: 25%;
  top: 61.5%;
  width: 50%;
  z-index: 2;
  animation-name: shakeEye;
}

.moon_menu {
  right: 45%;
  top: 65%;
  width: 12%;
  z-index: 3;
  animation-name: moveMoon;
}

/* Анимация покачивания для глаза */
@keyframes shakeEye {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveMoon {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(3px) translateY(-2px);
  }
  40% {
    transform: translateX(5px) translateY(5px);
  }
  60% {
    transform: translateX(-5px) translateY(-3px);
  }
  80% {
    transform: translateX(-3px) translateY(4px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.menu:hover .eye_menu,
.menu:hover .moon_menu,
.menu:hover .hand_menu {
  animation-play-state: running;
}

.menu img {
  animation-play-state: paused;
}
/* КАРТЫ */
.cards_game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 5vw;
  background-color: #fbf6ed;
  height: 70vw;
  position: relative;
  overflow: hidden;
}

.card-container {
  max-width: 90%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  margin-top: 4%;
  width: 72%;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4.7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  box-sizing: border-box;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card-front {
  transform: rotateY(0deg);
}
.card-back {
  transform: rotateY(180deg);
  background-color: #ccc;
}
.card.flipped .card-front {
  transform: rotateY(180deg);
}
.card.flipped .card-back {
  transform: rotateY(0deg);
}
.star1 {
  position: absolute;
  width: 12%;
  left: 0%;
  top: 40%;
}
.star2 {
  position: absolute;
  width: 20%;
  right: 89%;
  top: 55%;
}
.star3 {
  position: absolute;
  width: 18%;
  left: 88%;
  bottom: 90%;
}
.star4 {
  position: absolute;
  width: 12%;
  left: 90%;
  top: 14%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.timer {
  position: absolute;
  top: 2%;
  font-size: 3vw;
  font-weight: bold;
  color: #e18989;
  font-family: "Overdoze_sans", sans-serif;
}
.star1,
.star2,
.star3,
.star4 {
  position: absolute;
  animation: rotate 20s infinite linear;
}
/* КОНЕЦ КАРТ */

/* ХОЛСТ */ /* ХОЛСТ */ /* ХОЛСТ */ /* ХОЛСТ */

.drawing_game {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70vw;
  overflow: hidden;
}

.canvas-container {
  margin-top: 7%;
  position: relative;
  display: flex;
  height: 100%;
  width: 72%;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
}

.canvas1 {
  position: absolute;
  left: 3%;
  width: 94%;
  margin-top: 6%;
  border-radius: 2%;
  z-index: 1;
  pointer-events: none;
}

#drawingCanvas {
  position: absolute;
  width: 94%;
  margin-top: 6%;
  left: 3%;
  border-radius: 2%;
  z-index: 2;
  cursor: url(../img/brush_cursor.svg) 10 50, auto !important;
  pointer-events: auto;
}

.back {
  position: absolute;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.scissors {
  position: absolute;
  width: 24%;
  right: 80%;
  top: 70%;
  z-index: 2;
}
.draggable {
  cursor: grab;
  user-select: none;
}
.yellow_pencil {
  position: absolute;
  width: 33%;
  margin-top: 18%;
  right: 85%;
}
.threads_yellow {
  position: absolute;
  width: 10%;
  top: 28%;
  right: 94%;
  z-index: 2;
}
.threads_blue {
  width: 11%;
  position: absolute;
  top: 15%;
  right: 92%;
  z-index: 1;
}
.cap {
  position: absolute;
  width: 35%;
  left: 11%;
  bottom: 73%;
}
.cat {
  position: absolute;
  width: 18%;
  left: 51%;
  bottom: 86%;
}
.green_pencil {
  position: absolute;
  width: 13%;
  left: 84%;
  top: 35%;
  z-index: 1;
}
.blue_pencil {
  position: absolute;
  width: 25%;
  left: 86%;
  top: 72%;
}
.feather {
  position: absolute;
  width: 30%;
  left: 73%;
  bottom: 79%;
}
.draggable {
  cursor: grab;
}

.button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: 56%;
}

.color-button {
  background-color: #e18989;
  border: none;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.color-button:nth-child(2) {
  background-color: #f6be61;
}
.color-button:nth-child(3) {
  background-color: #77aca9;
}
.color-button:nth-child(4) {
  background-color: #a3a54f;
}

.color-button:active {
  transform: scale(1.1);
}

.reset-button {
  background-color: #f4c7c7;
  border: none;
  border-radius: 1vw;
  padding: 1vw 2vw;
  font-family: "Bryndan_Write";
  font-size: 3vw;
  color: #e18989;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.reset-button:active {
  transform: scale(1.1);
}
/* ДВАДЦАТЬ СОРОК ВОСЕМЬ */
.score-container {
  font-family: "Bryndan_Write";
  font-size: 2.9vw;
  margin-top: 2%;
  color: #f28482;
  background-color: #f4c7c7;
  padding: 1vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  border-radius: 1vw;
}

/* Игровое поле */
.cube_game {
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 65.1vw;
  background-color: #a3a54f;
  overflow: hidden;
}

/* Игровое поле */
#board {
  position: relative;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  width: 100vw;
  max-width: 50vw;
  background-color: #f28482;
  padding: 1vw;
  box-sizing: border-box;
}

/* Клетки */
.tile {
  font-family: "Bryndan_Write";
  aspect-ratio: 1;
  width: 100%;
  font-size: 5vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4efea;
  color: #727371;
  border-radius: 0.5vw;
  transition: transform 0.2s ease-in-out;
}

/* colored tiles */

.x2 {
  background-color: #f7ede2;
  color: #f28482;
}
.x4 {
  background-color: #84a59d;
  color: #fac2c2;
}
.x8 {
  background-color: #fac2c2;
  color: #f28482;
}
.x16 {
  background-color: #f6bd60;
  color: #f28482;
}
.x32 {
  background-color: #f7ede2;
  color: #f28482;
}
.x64 {
  background-color: #84a59d;
  color: #fac2c2;
}
.x128 {
  background-color: #fac2c2;
  color: #f28482;
}
.x256 {
  background-color: #f6bd60;
  color: #f28482;
}
.x512 {
  background-color: #f7ede2;
  color: #f28482;
}
.x1024 {
  background-color: #84a59d;
  color: #fac2c2;
}
.x2048 {
  background-color: #fac2c2;
  color: #f28482;
}
.x4096 {
  background-color: #f6bd60;
  color: #f28482;
}
.x8192 {
  background-color: #f7ede2;
  color: #f28482;
}

.yellow_textile {
  position: absolute;
  width: 26%;
  margin-left: 75%;
}

.lightly_pink_textile {
  position: absolute;
  width: 26%;
  margin-top: 37.5%;
  left: 0%;
}

.lightly_pink_textile1 {
  position: absolute;
  width: 26%;
  margin-top: 37.5%;
  left: 5%;
  display: none;
}

.scissors2 {
  width: 23%;
  position: absolute;
  margin-top: 37%;
  right: 80%;
}
.pallette {
  width: 25%;
  position: absolute;
  margin-top: 0%;
  left: 0%;
}
.pinl_textile {
  width: 24%;
  margin-top: 15%;
  position: absolute;
  left: 76%;
  z-index: 0;
}
.back_cube {
  width: 100%;
  position: absolute;
  opacity: 50%;
}
/* PSP */
.ps_game {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vw;
  font-family: Arial, sans-serif;
}

.arrow1_ps,
.arrow2_ps,
.arrow3_ps,
.arrow4_ps {
  position: absolute;
  margin-left: 0.5%;
  width: 3%;
}
.arrow1_ps {
  rotate: 90deg;
  left: 8.3%;
  top: 35.8%;
}
.arrow2_ps {
  rotate: 180deg;
  left: 11.3%;
  top: 31.5%;
}
.arrow3_ps {
  rotate: 270deg;
  left: 14.3%;
  top: 35.8%;
}
.arrow4_ps {
  rotate: 360deg;
  left: 11.3%;
  top: 40%;
}
#game-container {
  margin-bottom: 1%;
  position: absolute;
  width: 60vw;
  height: 35vw;
  background-color: #fbf6ed;
  overflow: hidden;
}

#blue_hat {
  position: absolute;
  bottom: 2vh;
  width: 10vw;
  height: 10vw;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.1s;
}

.star {
  position: absolute;
  width: 7vw;
  height: auto;
}
#star-template {
  visibility: hidden; /* Вместо display: none */
  position: absolute;
  top: 0;
  left: 0;
}

.ps4 {
  position: absolute;
  width: 90vw;
  z-index: -1;
}
.background-ps {
  position: absolute;
  z-index: -2;
  width: 100%;
}
.charger {
  position: absolute;
  width: 23%;
  left: 0%;
  top: 0;
}
@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-2px) rotate(-1deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes shake-rotated {
  0% {
    transform: translateX(0) rotate(-90deg);
  }
  25% {
    transform: translateX(-2px) rotate(-91deg);
  }
  50% {
    transform: translateX(2px) rotate(-89deg);
  }
  75% {
    transform: translateX(-2px) rotate(-91deg);
  }
  100% {
    transform: translateX(0) rotate(-90deg);
  }
}
.help-image {
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 50%;
  top: 30%;
  left: 25%;
}

.help-image.show {
  display: block;
  opacity: 1;
}

.lightning,
.lightning1 {
  position: absolute;
  width: 2%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lightning {
  margin-top: 46%;
  left: 14.7%;
}

.lightning1 {
  margin-top: 50%;
  left: 8%;
  transform: rotate(-90deg);
}

.shake {
  animation: shake 0.2s infinite alternate;
}

.shake-rotated {
  animation: shake-rotated 0.2s infinite alternate;
}

.letters {
  position: absolute;
  width: 10%;
  left: 81.5%;
  top: 30%;
}
.headphones {
  position: absolute;
  width: 23%;
  left: 78%;
  top: 2%;
}
.note1,
.note2,
.note3 {
  position: absolute;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.note1 {
  width: 3%;
  left: 78%;
  top: 5%;
}

.note2 {
  width: 4%;
  left: 85%;
  top: 10%;
}

.note3 {
  width: 3%;
  left: 71%;
  top: 4%;
}
@keyframes float {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: translateX(-10px) translateY(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(-20px) translateY(0px) rotate(5deg);
  }
  75% {
    transform: translateX(-30px) translateY(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(-40px) translateY(0px) rotate(5deg);
    opacity: 0;
  }
}
.float {
  animation: float 5s ease-in-out forwards;
}
.score-container2 {
  font-family: "Bryndan_Write";
  font-size: 2.9vw;
  margin-top: 50%;
  color: #f28482;
  background-color: #f4c7c7;
  padding: 1vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17vw;
  border-radius: 1vw;
}
.circle_buttom_ps {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 8;
  pointer-events: none;
}
.circle_buttom_ps img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  pointer-events: none;
}
.color_button_ps {
  width: 4%;
  position: absolute;
  z-index: 3;
  top: 64%;
  left: 85%;
}
.help__button_ps {
  width: 4%;
  position: absolute;
  z-index: 3;
  top: 64%;
  left: 11.5%;
}

/* ГАДАНИЕ */
.DIVINATION {
  overflow: hidden;
  width: 100%;
  height: 110vh;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f8b6ba;
}

.scene {
  position: relative;
  width: 100%;
  height: 50vw;
  top: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  position: absolute;
  width: 60%;
  z-index: 1;
}
.box_items {
  width: 100%;
  position: relative;
  display: flex;
  left: 41.8%;
  bottom: 28%;
}

.box {
  width: 17%;
  position: absolute;
  z-index: 1;
}

.plane {
  width: 12%;
  height: 9vw;
  position: absolute;
  left: 0.5%;
  margin-top: 1.2%;
  z-index: 3;
  pointer-events: none;
}

.card1 {
  width: 7vw;
  position: absolute;
  margin-top: 2%;
  z-index: 2;
  left: 5%;
  pointer-events: none;
}
.fire1,
.fire2 {
  position: absolute;
  animation: fire 9s infinite ease-in-out;
  bottom: 100%;
}
.fire1 {
  width: 3%;
  left: 65%;
}
.fire2 {
  width: 2.7%;
  right: 65%;
}
.signboard {
  margin-right: 4%;
  position: absolute;
  width: 35%;
  left: 32.5%;
  top: -4%;
  z-index: 3;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.curtains {
  position: absolute;
  width: 120%;
  z-index: 3;
  pointer-events: none;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.curtains2 {
  position: absolute;
  display: none;
  width: 100%;
  top: 23%;
  transform: scale(1.8);
  pointer-events: none;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@keyframes fire {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-3px, -3px) rotate(-10deg);
  }
  40% {
    transform: translate(4px, -4px) rotate(10deg);
  }
  60% {
    transform: translate(-2px, 3px) rotate(-8deg);
  }
  80% {
    transform: translate(3px, -3px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* .magic-spark {
   position: absolute;
    width: 6px;
    height: 6px;
    background: radial-gradient(circle, #FFD700, transparent);
   border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
     animation: fadeOut 0.5s ease-out; }
 @keyframes fadeOut {
     from { transform: scale(1); opacity: 1; }
   to { transform: scale(2); opacity: 0; }
}
 */
body.pulse-effect {
  animation: pulseAnimation 0.5s ease-out;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0);
  }
}
.rotate_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #a3a54f;
  color: #f8c4bb;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  z-index: 9999;
}

.rotate_img {
  width: 40%; /* Размер изображения в процентах */
  height: auto;
  margin-bottom: 5vh; /* Отступ от текста */
}

.rotate_screen p {
  position: absolute;
  bottom: 5vh;
  text-align: center;
  font-size: 3vw; /* Можно подправить для лучшего отображения */
}

.menu {
  display: flex;
  justify-content: center;
  gap: 3.7vw;
}
.bottom_ps,
.bottom1,
.bottom2,
.bottom4,
.bottom5 {
  position: absolute;
  left: 2%;
  top: 2%;
  right: 0;
  z-index: 10;
}
.bottom_ps,
.bottom1,
.bottom2,
.bottom4,
.bottom5 {
  height: 10%;
}
.bottom1 {
  height: 11%;
}
