@media (max-width: 769px) {
  .charger {
    width: 26%;
  }
  .star3 {
    margin-top: 15%;
    margin-right: -40%;
  }
  .menu-item button {
    font-size: 1.8vw;
  }
}

@media (max-width: 480px) {
  .star3 {
    margin-top: 25%;
    margin-right: -40%;
  }

  .timer {
    font-size: 6vw;
  }
}

@media (max-width: 1366px) {
  .menu_container {
    margin-top: 2%;
  }

  .letter {
    font-size: 7vw;
    line-height: 1.1;
  }
  .cube_game {
    height: 65vw;
  }
  #board {
    margin-top: 5%;
    max-width: 46vw;
  }
}
@media (max-width: 1680px) {
  .menu_container {
    margin-top: 1%;
  }

  .letter {
    font-size: 7.5vw;
    line-height: 1;
  }
}
@media (max-width: 1280px) {
  .ps_game {
    height: 75vw;
  }
  .headphones {
    width: 27%;
  }
  .background-ps {
    width: 152vw;
  }
  .charger {
    width: 25%;
  }
  .drawing_game {
    height: 80vw;
  }
  .canvas-container {
    margin-top: 13%;
  }
  .button-container {
    margin-top: 63%;
  }
  .cap {
    bottom: 78%;
  }
  .scissors {
    top: 55%;
  }
}

@media (max-aspect-ratio: 9/16) {
  .canvas-container {
    width: 95%;
    height: 50vh;
  }

  .drawing_game {
    justify-content: flex-start;
    padding-top: 5vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  @media screen and (max-aspect-ratio: 1/1) {
    .ps_game .rotate_screen {
      display: flex !important;
    }
    .ps_game .content {
      display: none !important;
    }
    .drawing_game .rotate_screen {
      display: flex !important;
    }
    .drawing_game .content {
      display: none !important;
    }
  }
  .menu_screen {
    height: 270vw;
  }
  .menu-item button {
    font-size: 3vw;
  }
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu-item {
    width: 35%;
    height: 61vw;
    gap: 3vw;
    padding-left: 3%;
  }

  .letter {
    font-size: 12.5vw;
  }
  .menu_container {
    text-align: center; /* Центрирование текста */
  }
  #board {
    margin-top: 0%;
    max-width: 88vw;
    z-index: 2;
    padding: 1.5vw;
    gap: 1.5vw;
  }
  .bottom1 {
    height: 13vw;
    max-height: 12vw;
  }
  .cube_game {
    justify-content: center;
    height: 216vw;
  }
  .tile {
    font-size: 12vw;
  }
  .reset-rectangle {
    position: absolute;
    width: 150vw;
    height: 170vw;
    background-color: #f4c7c7;
    z-index: 1;
  }
  .score-container {
    font-family: "Bryndan_Write";
    font-size: 7vw;
    margin-top: 9%;
    width: 35vw;
    height: 10vw;
    border-radius: 2vw;
  }
  .yellow_textile {
    position: absolute;
    width: 50%;
    top: 0%;
    rotate: 0deg;
    margin-left: 49%;
  }

  .lightly_pink_textile {
    position: absolute;
    width: 65%;
    margin-top: 147%;
    left: -20%;
  }
  .scissors2 {
    width: 50%;
    position: absolute;
    margin-top: 150%;
    left: -10%;
  }
  .pallette {
    width: 50%;
    position: absolute;
    top: 0%;
    transform: rotate(-0deg);
    left: 0%;
  }
  .pinl_textile {
    width: 50%;
    margin-top: 112%;
    position: absolute;
    left: 50%;
    z-index: 0;
  }
  .cards_game {
    height: 250vw;
  }
  .bottom4 {
    height: 11vw;
    top: 1%;
  }
  .timer {
    font-size: 6vw;
  }
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 3 / 4.7;
    gap: 1vw;
    margin-top: 10%;
  }
  /* //гадание */
  .DIVINATION {
    height: 219vw;
  }
  .bottom5 {
    height: 13vw;
  }
  .scene {
    width: 200vw;
    height: 50vw;
    margin-top: 33.8%;
    transform: scale(2); /* Увеличиваем в 2 раза */
  }

  .signboard {
    top: 5%;
    transform: scale(2.5); /* Увеличиваем в 2 раза */
  }
  .curtains {
    display: none; /* Скрываем обычную версию на маленьких экранах */
  }
  .curtains2 {
    display: block; /* Показываем адаптивную версию */
  }
}
